*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.color_blue * {
  color: #009bdd;
}

.font_regular * {
  font-family: Conv_MYRIADGEOMEDIUM;
}

.font_bold {
  font-family: Conv_MYRIADGEOMTAVRULIBOLD;
}

.psychology {
  max-width: 1250px;
  min-height: 100vh;
  padding-top: 45px;
  margin: 0 auto;
}
.psychology .element {
  border: 1px solid #009bdd;
}
.psychology__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.psychology__wrapper--left {
  display: flex;
  flex-direction: column;
  flex: 0 0 73%;
}
.psychology__wrapper--left-above {
  margin-bottom: 15px;
  display: flex;
  padding: 40px 30px;
}
.psychology__wrapper--left-above img {
  margin-right: 40px;
}
.psychology__wrapper--left-middle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.psychology__wrapper--left-middle-left {
  max-width: 49%;
  flex: 0 0 49%;
  background-color: #009bdd;
  color: #fff;
  display: flex;
  padding: 40px 30px;
}
.psychology__wrapper--left-middle-left img {
  margin-right: 48px;
}
.psychology__wrapper--left-middle-right {
  display: flex;
  flex-direction: column;
  max-width: 49%;
  flex: 0 0 49%;
}
.psychology__wrapper--left-middle-right .first {
  display: flex;
  padding: 40px 30px;
  margin-bottom: 13px;
}
.psychology__wrapper--left-middle-right .first img {
  margin-right: 38px;
}
.psychology__wrapper--left-middle-right .second {
  display: flex;
  padding: 40px 30px;
  padding: 40px 30px;
}
.psychology__wrapper--left-middle-right .second img {
  margin-right: 38px;
}
.psychology__wrapper--left-below {
  display: flex;
  padding: 40px 30px;
}
.psychology__wrapper--left-below img {
  margin-right: 40px;
}
.psychology__wrapper--right {
  flex: 0 0 24%;
  display: flex;
  flex-direction: column;
  padding: 38px 25px;
  justify-content: space-between;
  align-items: center;
}
.psychology__wrapper--right img {
  margin-bottom: 73px;
}
.psychology__wrapper--right .psychology__image {
  position: relative;
}
.psychology__wrapper--right .psychology__image::after {
  content: "";
  background: #009bdd;
  width: 186px;
  height: 1px;
  display: block;
  position: absolute;
  bottom: 38px;
  right: -38px;
}
.psychology__wrapper--right .psychology__verification {
  width: 202px;
  display: flex;
  justify-content: center;
  background-color: #009bdd;
  align-items: center;
}
.psychology__wrapper--right .psychology__verification--link,
.psychology__wrapper--right .psychology__verification--link:link,
.psychology__wrapper--right .psychology__verification--link:visited {
  display: block;
  text-decoration: none;
  color: white;
  padding: 10px 3px 15px;
}
.psychology .img {
  position: relative;
}
.psychology .img::after {
  content: "";
  background: #707070;
  width: 1px;
  height: 120px;
  display: block;
  position: absolute;
  top: -20px;
  right: 14px;
}

.main-container {
  min-height: 100vh;
}

.banner-image {
  position: relative;
  width: 100%;
  max-width: 100%;
  height: 145px;
}
.banner-image:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(0, 155, 221, 0.7);
}
.banner-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.psychology-container {
  display: flex;
  max-width: 1250px;
  margin: 0 auto;
  padding: 47px 57px;
  justify-content: space-between;
}
.psychology-container__left {
  flex: 0 0 64%;
}
.psychology-container form .motivational-description {
  display: flex;
  margin-bottom: 25px;
  align-items: flex-start;
}
.psychology-container form .motivational-description span {
  color: #009bdd;
}
.psychology-container form .motivational-description .button {
  display: flex;
  flex: 0 0 50%;
  justify-content: space-between;
  margin-left: 30px;
}
.psychology-container form .motivational-description .button button {
  flex: 0 0 47%;
  padding: 15px 0;
  cursor: pointer;
}
.psychology-container form .motivational-description .button .button-left {
  background-color: #707070;
  color: #fff;
  font-weight: bold;
  border: none;
}
.psychology-container form .motivational-description .button .button-right {
  background-color: #009bdd;
  color: #fff;
  border: none;
  font-weight: bold;
}
.psychology-container form .text-div {
  flex-grow: 1;
  border: 1px solid #009bdd;
}
.psychology-container form .text-div textarea {
  width: 100%;
  height: 350px;
  resize: none;
  padding: 15px;
  border: none;
}
.psychology-container__right {
  flex: 0 0 33%;
  border: 1px solid #009bdd;
  justify-content: space-between;
  padding: 20px;
  box-shadow: 0 0 11px #00000052;
  max-height: 446px;
}
.psychology-container__right .title-of-criterias-div {
  padding-bottom: 15px;
  position: relative;
}
.psychology-container__right .title-of-criterias-div::after {
  content: "";
  background: #009bdd;
  width: 100%;
  height: 1px;
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0px;
}
.psychology-container__right .criterias-text-div {
  flex-grow: 1;
  margin-top: 10px;
  height: calc(100% - 45px);
  overflow-y: auto;
}
.psychology-container__right .criterias-text-div * {
  font-size: 14px;
}

.psychology__text {
  margin-bottom: 34px;
}

.criterias-text-div::-webkit-scrollbar {
  width: 8px;
}

.criterias-text-div::-webkit-scrollbar-thumb {
  background: #e6e6e6;
  border-radius: 10px;
}

@media only screen and (max-width: 992px) {
  .psychology {
    padding: 10px;
    margin-top: 30px;
  }

  .psychology__wrapper {
    display: block;
  }

  .psychology__wrapper--right {
    margin-top: 15px;
  }

  .psychology__wrapper--left-middle {
    display: block;
  }
  .psychology__wrapper--left-middle > div {
    width: 100%;
    max-width: 100%;
  }

  .psychology__wrapper--left-middle-left {
    margin-bottom: 15px;
  }

  .psychology-container {
    padding: 15px 15px;
  }

  .psychology-container,
  .psychology-container form .motivational-description {
    display: block;
    margin-top: 40px;
  }

  .psychology-container {
    display: flex;
    flex-direction: column-reverse;
  }

  .psychology-container__right {
    min-height: 300px;
    margin-top: 15px;
    overflow: auto;
  }

  .psychology-container form .motivational-description .button {
    margin-left: unset;
    margin-top: 15px;
  }

  .psychology-container form .text-div textarea {
    height: 200px;
  }
}
@media only screen and (max-width: 576px) {
  .comoon_box {
    padding: 15px 15px;
  }

  .comoon_box {
    display: block;
  }
  .comoon_box .first,
  .comoon_box .second {
    display: block;
    padding: 15px;
  }

  .psychology__text {
    margin-bottom: 15px;
  }

  .comoon_box .img {
    position: relative;
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }

  .comoon_box .img::after {
    content: "";
    background: #707070;
    width: 100%;
    height: 1px;
    display: block;
    position: absolute;
    top: 100%;
    right: 0px;
  }

  .psychology__wrapper--left-middle-right {
    padding: 0;
  }

  .psychology__wrapper--right .psychology__image {
    text-align: center;
  }

  .psychology__wrapper--right .psychology__image::after {
    content: "";
    background: #009bdd;
    width: 100%;
    height: 1px;
    display: block;
    position: absolute;
    bottom: 14px;
    right: 0;
  }

  .psychology__wrapper--right img {
    margin-bottom: 15px;
  }

  .psychology__wrapper--right .psychology__verification {
    margin: 0 auto;
  }

  .banner-image {
    height: 100px;
  }
}

.motivationUl li {
  list-style-type: inherit !important;
}
.motivationUl {
  list-style: circle;
  padding-left: 20px;
}
.psychology-container form .text-div textarea::placeholder {
  color: #cacaca;
}
/*# sourceMappingURL=main.css.map */
